@page "/fetchdata"
@using Foundatio.SampleApp.Shared
@inject HttpClient Http

<PageTitle>Game Reviews</PageTitle>

<h1>Game Reviews</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (gameReviews == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <input @bind="_search" /><button @onclick="GetReviews">Search</button>
    
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var review in gameReviews.Reviews)
            {
                <tr>
                    <td>@review.CreatedUtc.ToShortDateString()</td>
                    <td>@review.Name</td>
                    <td>@review.Category</td>
                </tr>
            }
        </tbody>
    </table>

    @foreach (var category in gameReviews.CategoryCounts)
    {
        <a href="#">@category.Name (@category.Total)</a>
    }

    @foreach (var tag in gameReviews.TagCounts)
    {
        <a href="#">@tag.Name (@tag.Total)</a>
    }
}

@code {
    private GameReviewSearchResult? gameReviews;
    private string _search = string.Empty;

    protected async Task GetReviews()
    {
        var response = await Http.GetFromJsonAsync<GameReviewSearchResult>($"GameReviews?search={_search}");
        gameReviews = response;
    }

    protected override async Task OnInitializedAsync()
    {
        await GetReviews();
    }
}
